<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">Abbrechen</ion-button>
        </ion-buttons>
        <ion-title>{{ isEditMode() ? 'Buch bearbeiten' : 'Buch hinzufügen' }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="saveBook()" [strong]="true">Speichern</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="bookForm">
        <ion-list inset>

            <!-- Titel -->
            <ion-item [class.ion-invalid]="bookForm.controls.name.invalid && (bookForm.controls.name.touched || submitted)"
                      [class.ion-touched]="bookForm.controls.name.touched || submitted">
                <ion-input label="Titel" labelPlacement="stacked" formControlName="name"
                    placeholder="Name des Buches" />
            </ion-item>
            @if (bookForm.controls.name.errors?.['required'] && (bookForm.controls.name.touched || submitted)) {
                <ion-note color="danger" class="ion-padding-horizontal ion-padding-bottom">
                    Titel ist erforderlich.
                </ion-note>
            }
            @if (bookForm.controls.name.errors?.['minlength'] && (bookForm.controls.name.touched || submitted)) {
                <ion-note color="danger" class="ion-padding-horizontal ion-padding-bottom">
                    Mindestens 3 Zeichen.
                </ion-note>
            }

            <!-- Autor -->
            <ion-item [class.ion-invalid]="bookForm.controls.author.invalid && (bookForm.controls.author.touched || submitted)"
                      [class.ion-touched]="bookForm.controls.author.touched || submitted">
                <ion-input label="Autor" labelPlacement="stacked" formControlName="author"
                    placeholder="Name des Autors" />
            </ion-item>
            @if (bookForm.controls.author.errors?.['required'] && (bookForm.controls.author.touched || submitted)) {
                <ion-note color="danger" class="ion-padding-horizontal ion-padding-bottom">
                    Autor ist erforderlich.
                </ion-note>
            }
            @if (bookForm.controls.author.errors?.['minlength'] && (bookForm.controls.author.touched || submitted)) {
                <ion-note color="danger" class="ion-padding-horizontal ion-padding-bottom">
                    Mindestens 3 Zeichen.
                </ion-note>
            }

            <!-- Notiz -->
            <ion-item>
                <ion-textarea label="Notiz" labelPlacement="stacked" formControlName="note"
                    placeholder="Optional: kurze Notiz…" [rows]="5" [autoGrow]="true" />
            </ion-item>

        </ion-list>
    </form>
</ion-content>
