<ion-header>
    <ion-toolbar>
        <ion-title>Meine Bücher</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onAdd()">
                <ion-icon slot="icon-only" [icon]="addOutline" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        @for (book of books(); track book.id) {
            <book-list-item
                [book]="book"
                (openEvent)="onOpen($event)"
                (deleteEvent)="onDelete($event)" />
        } @empty {
            <ion-item lines="none">
                <ion-label class="ion-text-center">Noch keine Bücher gespeichert.</ion-label>
            </ion-item>
        }
    </ion-list>
</ion-content>
